<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do List</title>
  </head>
  <body>
    <h1><%= kindOfDay %> </h1>
    <ul>
      <li> study </li>
      <li> eat </li>
      <li> sleep </li>
       <li> <%= newListItem %>  </li>

      for (var i=0;i<newListItem.length:i++)

    </ul>
 <form class="" action="/" method="post">
   <input type="text" name="newItem" >
   <button type="submit" name="button">SUBMIT</button>

 </form>
  </body>
</html>
